@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

StackPane {
    -fx-font-family: "Inter", sans-serif;
}

.logo_container {
    -fx-background-color: #12385D;
}

.logo_title {
    -fx-text-fill: #FFF;
}

.form_container {
    -fx-background-color: #FFF;
}

.form_title {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
    -fx-text-fill: #12385D;
}

.form_input {
    -fx-background-color: #FFF;
    -fx-background-radius: 3px;
    -fx-border-color: #617992;
    -fx-border-radius: 5px;
    -fx-padding: 10px 5px;
}

.form_button {
    -fx-background-color: #12385D;
    -fx-border-radius: 5px;
    -fx-text-fill: #FFF;
    -fx-cursor:hand;
}

.close_button {
    -fx-background-color: #12385D;
    -fx-text-fill: #FFF;
    -fx-cursor: hand;
}

.close_button:hover {
    -fx-background-color: #ff3547;
}