.logo_container {
    -fx-background-color: #12385D;
}

.logo_title {
    -fx-text-fill: #FFF;
}

.form_container {
    -fx-background-color: #FFF;
}

.form_title {
    -fx-font-size: 20px;
    -fx-font-weight: 700;
}

.form_input {
    -fx-background-color: #FFF;
    -fx-background-radius: 3px;
    -fx-border-color: #617992;
    -fx-border-radius: 5px;
    -fx-padding: 10px 5px;
}

.form_button {
    -fx-background-color: #12385D;
    -fx-border-radius: 5px;
    -fx-text-fill: #FFF;
}

.close_button {
    -fx-background-color: #12385D;
    -fx-text-fill: #FFF;
}